<% if obj.errors.any? %>
	<div class="alert alert-error">
		<h4>Please fix the following </h4>
		<ul>
			<% obj.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>%